<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ editando ? 'Editar' : 'Novo'}} Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton name="tipo" [options]="tipos"
          [(ngModel)]="lancamento.tipo" #tipo>
        </p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="true"
          [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel">
        </p-calendar>

        <app-message [control]="vencimento" error="required"
          text="Informe uma data de vencimento">
        </app-message>

      </div>
      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar name='dataPagamento' dateFormat="dd/mm/yy"
          [showIcon]="true" [(ngModel)]="lancamento.dataPagamento">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input name="descricao" pInputText type="text"
          [(ngModel)]="lancamento.descricao"
          #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required"
          text="Informe uma descrição">
        </app-message>
        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres">
        </app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input name="valor" pInputText type="text" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
          [(ngModel)]="lancamento.valor">

        <!--<app-message [control]="valor" error="required"
          text="Informe um valor">
        </app-message>-->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione"
          [(ngModel)]="lancamento.categoria.id">
        </p-dropdown>

        <!--<app-message [control]="categoria" error="required"
          text="Selecione uma categoria">
        </app-message>-->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas"
          placeholder="Selecione" [filter]="true"
          [(ngModel)]="lancamento.pessoa.id">
        </p-dropdown>

        <!--<app-message [control]="pessoa" error="required"
          text="Selecione uma pessoa">
        </app-message>-->
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea name="observacao" pInputTextarea rows="3"
          [(ngModel)]="lancamento.observacao">
        </textarea>
      </div>

      <div class="p-col-12 cadastro-acoes">
        <button pButton type="submit" label="Salvar" [disabled]="!f.valid"></button>
        <button pButton type="button" label="Novo"
          (click)="novo(f)" class="p-button-info">
        </button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
